<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 입문</title>
    <!-- Bootstrap 적용 -->
    {% load bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <div class="container">
        <h1>Django 입문</h1>
        {% if user.is_authenticated %}
            <p>logged by {{ user }}
                <a href="/accounts/logout">logout</a>
            </p>
        {% else %}
            <a href="/accounts/login">login</a>
        {% endif %}
        {% block content %}
        {% endblock %}
        <hr />
    </div>
</body>

</html>